Python Notebook for adhoc code snippets

In [ ]:
import duckdb
import pandas as pd

In [ ]:
#creates DB if does not exist, else use to test table names created

sql_query = '''
show tables
'''

with duckdb.connect('nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

                      name
0              first_model
1  parking_violation_codes
2  parking_violations_2023
3                ref_model

In [ ]:
# adhoc query

sql_query = '''
SELECT manhattan_96th_st_below, count(*) as num_rows FROM first_model group by manhattan_96th_st_below
'''

with duckdb.connect('data/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

   num_rows
0        97